# Arquivos de Sistema Operacional (Windows/Linux/Mac)
.DS_Store
Thumbs.db
Desktop.ini

# Pastas de Editores de Código (VS Code, IntelliJ, etc)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node.js 
node_modules/
npm-debug.log
yarn-error.log
.env

# Build / Dist 
dist/
build/